<header class="header anim-item anim-item--norepeat fixed-block">
  <div class="container header__container">
    <button class="btn-reset burger header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <a class="logo header__logo" style="background-image: url(img/svg/logo.svg);"></a>
    <nav class="nav header__nav" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">УСЛУГИ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">АБОНЕМЕНТЫ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">ПОЧЕМУ МЫ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">ОБОРУДОВАНИЕ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">АКЦИИ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">КОНТАКТЫ</a></li>
      </ul>
    </nav>
    <div class="header__contacts" data-dynamic-state="header__nav, 720, last">
      <a href="tel:+79999999999" class="btn btn-outline header__btn-outline">
        <svg>
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </a>
      <button type="button" class="btn-reset btn btn-accent header__btn-accent">
        <span>
          ОСТАВИТЬ ЗАЯВКУ
        </span>
      </button>
    </div>
  </div>
</header>
