<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>@title</title>
  <link rel="preload" href="fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Mulish-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Mulish-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Mulish-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  @for (var i = 0; i < context.css.length; i++) {
    <link rel="stylesheet" href="`+context.css[i]+`">
  }
  <script defer src="js/vendor.js"></script>
  <script defer src="js/runtime.js"></script>
  <script defer src="js/main.js"></script>
  @for (var i = 0; i < context.js.length; i++) {
    <script defer src="`+context.js[i]+`"></script>
  }
</head>
