<section class="hero anim-item anim-item--norepeat" style="background-image: url(img/hero-bg.webp);">
    <div class="container hero__container">
        <div class="hero__content">
            <h1 class="h1 hero__title anim-item anim-item--norepeat">Полет Илона Маска и DOGIE COIN</h1>
            <div class="text-descr hero__desc anim-item anim-item--norepeat">В прошлый четверг все офигели от полета DOGIE COIN на марс.</div>
            <button type="button" class="btn-reset btn btn-accent hero__btn-accent anim-item anim-item--norepeat">
                <span>ОСТАВИТЬ ЗАЯВКУ</span>
            </button>
        </div>
    </div>
</section>
